body {
    background: #0ec0c0;
}

.wrap {
    height: 34.5rem;
    background: #0006ff;
    padding: 1rem;
    margin-top: 10rem;
    background: #e511e5;
}

h2 {
    font-size: 1.5rem;
}

.head-font {
    font-size: 1.5rem;
    color: #2aa440;
    text-align: center;
    margin-top: 30px;
}

.btn-link {
    color: #f77700;
}

.btn-link:hover {
    color: #00d3d3;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: -1rem -15px 0;
    background: #fefcfe;
}